html body{
    background-color: rgb(29, 29, 29);
    
}

.font{
    background:  url(Fonari.jpg) center center/cover no-repeat;
    min-height: 80vh ;
}

footer{
    margin-top: 10vh;
    text-align: center; 
    color: rgb(255, 243, 243); 

}


.container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}


@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }
}

